!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Stockademy
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_include_tag "application", "data-turbo-track": "reload", defer: true
  %body
    %nav{:class => "navbar navbar-expand-md navbar-light bg-transparent border-bottom", :style => "height: 84px"}
      %div{:class => "container-fluid"}
        %a{:class => "navbar-brand", :href => "#"} Stockademy
        %button{:class => "navbar-toggler", :type => "button", "data-bs-toggle" => "collapse",
          "data-bs-target" => "#navbarSupportedContent", "aria-controls" => "navbarSupportedContent",
          "aria-expanded" => "false", "aria-label" => "Toggle navigation"}
          %span{:class => "navbar-toggler-icon"}

        %div{:class => "container-fluid", :id => "navbarSupportedContent"}
          %ul{:class => "navbar-nav justify-content-center"}
            %li{:class => "nav-item"}
              %a{:class => "nav-link active", "aria-current" => "page", :href => "#"} Home
            %li{:class => "nav-item"}
              %a{:class => "nav-link active", "aria-current" => "page", :href => "/profile/index"} Profile
            %li{:class => "nav-item dropdown"}
              %a{:class => "nav-link dropdown-toggle", :href => "#", :id => "navbarDropdown",
              :role => "button", "data-bs-toggle" => "dropdown", "aria-expanded" => "false"} User
              %ul{:class => "dropdown-menu", "aria-labelledby" => "navbarDropdown"}
                - if user_signed_in?
                  %li
                    %a{:class => "dropdown-item", :href => "/profile/index"} Profile
                  %li
                    %hr{:class => "dropdown-divider"}
                  %li
                    = link_to "Sign Out", destroy_user_session_path,
                    :confirm => "Are you sure", data: { "turbo-method": :delete }, :class => "dropdown-item"
                - else
                  %li
                    %a{:class => "dropdown-item", :href => "/users/sign_in"} Log in
                  %li
                    %hr{:class => "dropdown-divider"}
                  %li
                    %a{:class => "dropdown-item", :href => "/users/sign_up"} Sign Up
    %div{:class => "d-flex flex-column align-items-stretch flex-shrink-0 p-3 bg-white", :style => "width: 300px;", :id => "sidebarSupportedContent"}
      %div{:class => "container-fluid"}
        %span Placeholder for information





    %div{:class => "container", :id => "flash_message"}
      - flash.each do |name, message|
        %div{:class => "alert alert-#{name}", :role => "alert"} #{message}
    = yield
